---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
ci:
  skip:
    # Because these are local hooks it seems like they won't easily run in pre-commit CI
    - eslint
    - prettier
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: ".hbs$"
      - id: check-yaml
      - id: check-added-large-files
        exclude: "yarn.lock|.yarn/releases/.*"
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: yarn fmt-fix
        language: node
        types_or:
          [
            javascript,
            jsx,
            ts,
            tsx,
            json,
            scss,
            sass,
            css,
            yaml,
            markdown,
            html,
          ]
  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: [--format, parsable, -d, relaxed]
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args:
          - --baseline
          - .secrets.baseline
          - --exclude-files
          - .yarn/
          - --exclude-files
          - cassettes/
          - --exclude-files
          - test_json/
          - --exclude-files
          - ".*_test.py"
          - --exclude-files
          - "test_.*.py"
          - --exclude-files
          - poetry.lock
          - --exclude-files
          - yarn.lock
          - --exclude-files
          - ".*/generated/"
        additional_dependencies: ["gibberish-detector"]
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        description: "Lint JS/TS files and apply automatic fixes"
        entry: npx eslint --fix
        language: node
        types_or: [javascript, jsx, ts, tsx]
        args: []
        exclude: "(node_modules/|.yarn/)"
        require_serial: false
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        args: ["--severity=warning"]
